.riwayat-absensi-container {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    background-color: #e9ecef;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  