/* App.css */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.App {
  text-align: center;
}

h1 {
  color: #386641;
}

nav {
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: #386641;
  font-weight: bold;
  margin: 10px;
  padding: 10px 15px;
  border: 2px solid #386641;
  border-radius: 5px;
  transition: all 0.3s;
}

nav a:hover {
  background-color: #386641;
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
